:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --prymari-text-color: #757575;
  --title-text-color: #212121;
  --focus-color: #2196f3;
  --main-bgc: #ffffff;
  --black-color: #000000;
  --footer-bgc: #2f303a;
  --team-selection-bgc: #f5f4fa;
  --social-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--prymari-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.tex-dec {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--main-bgc);
  padding: 40px;
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-close-icon {
  height: 11px;
  width: 11px;
  fill: var(--black-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 20px;
}

.modal-title {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--focus-color);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--focus-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-messege {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-messege:focus {
  outline: none;
  border-color: var(--focus-color);
}

.modal-form-check-desc {
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .modal-form-check-desc {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .modal-form-check-desc {
    display: flex;
  }
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  outline: none;
  margin-right: 8px;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-size: cover;
  background-origin: border-box;
  border-color: var(--focus-color);
  background-color: var(--focus-color);
  background-image: url(../img/icon-check.svg);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 1px var(--focus-color);
  border: none;
}

.modal-link {
  color: var(--focus-color);
}

.modal-form-btn {
  display: block;
  min-width: 136px;
  padding: 10px 32px;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--main-bgc);
  background-color: var(--focus-color);
}

.logo {
  margin-right: 93px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--focus-color);
}

.logo__dark-theme {
  color: var(--main-bgc);
}

.logo__light-theme {
  color: var(--black-color);
}

.hero-title {
  margin-bottom: 40px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bgc);
}

@media (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.second-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.worker-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.invite__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-bgc);
}

.portfolio__title {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.button {
  display: block;
  min-width: 136px;
  padding: 10px 32px;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--main-bgc);
  background-color: var(--focus-color);
}

.invite-btn {
  padding: 10px 29px;
  margin: auto;
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--main-bgc);
  background-color: var(--focus-color);
}

@media (max-width: 1199px) {
  .invite-btn {
    min-width: 136px;
  }
}

.invite-btn__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .invite-btn__icon {
    bottom: 0;
    right: 28px;
  }
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.btn__nav {
  display: block;
}

@media screen and (max-width: 767px) {
  .btn__nav {
    margin-bottom: 15px;
  }
  .btn__nav:not(:last-child) {
    margin-right: 8px;
  }
  .btn__nav:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.btn__modul {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--team-selection-bgc);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__modul:hover, .btn__modul:focus {
  cursor: pointer;
  color: var(--main-bgc);
  background-color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .btn {
    justify-content: center;
  }
  .btn__nav:not(:last-child) {
    margin-right: 8px;
  }
}

.header .current {
  color: var(--focus-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contact-nav {
    display: none;
  }
  .menu-mobile {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .menu-mobile:hover, .menu-mobile:focus {
    fill: var(--focus-color);
  }
  .menu-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--main-bgc);
    transform: translateY(-100%);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--focus-color);
  }
  .mobile-menu__close-icon {
    width: 19px;
    height: 19px;
  }
  .mobile-menu__item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: left;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    color: var(--title-text-color);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--focus-color);
  }
  .mobile-contact {
    margin-bottom: 64px;
  }
  .mobile-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact__link-tel {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    margin-bottom: 32px;
    color: var(--focus-color);
  }
  .mobile-contact__link-mail {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--prymari-text-color);
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    max-width: 767vw;
  }
  .social__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--focus-color);
  }
  .social__item:not(:last-child)::after {
    content: "";
    width: 0;
    height: 22px;
    margin: 0px 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.is-open {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header .logo {
    margin-right: 0px;
  }
  .menu-mobile {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--focus-color);
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--focus-color);
    display: block;
  }
}

.contact-nav__link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--prymari-text-color);
}

.contact-nav__tel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-nav__mail {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .contact-nav__mail {
    margin-bottom: 10px;
  }
}

.contact-nav__mail-img {
  width: 16px;
  height: 12px;
  fill: var(--prymari-text-color);
  margin-right: 8px;
}

.contact-nav__phone-img {
  width: 12px;
  height: 16px;
  fill: var(--prymari-text-color);
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-nav__mail {
    margin-right: 30px;
  }
  .contact-nav__mail-img {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__phone-img {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__phone-img:hover, .contact-nav__phone-img:focus {
    fill: var(--focus-color);
  }
  .contact-nav__mail-img:hover, .contact-nav__mail-img:focus {
    fill: var(--focus-color);
  }
  .contact-nav__link {
    color: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__link__phone-img:hover, .contact-nav__link__phone-img:focus {
    fill: var(--focus-color);
  }
  .contact-nav__link__mail-img:hover, .contact-nav__link__mail-img:focus {
    fill: var(--focus-color);
  }
  .contact-nav__link:hover, .contact-nav__link:focus {
    color: var(--focus-color);
  }
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/hero/hero-img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/hero/hero-img@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/hero/hero-img1.jpg");
  }
  .hero__theme {
    padding-right: 204px;
    padding-left: 204px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/hero/hero-img@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/hero/hero-img1.jpg");
  }
  .hero__theme {
    padding-right: 250px;
    padding-left: 250px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/hero/hero-img@2x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .selection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .selection {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list__item {
  height: auto;
}

@media screen and (max-width: 1199px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list .title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .features-list .title {
    text-align: center;
  }
}

.features-list .title-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: var(--team-selection-bgc);
  border-radius: 4px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features-list__item {
    flex-basis: calc(100% / 2 - 30px);
  }
  .features-list__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
    margin-left: -30px;
  }
  .features-list__item {
    margin-bottom: 0px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .features-list__item:not(:last-child) {
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .work-img {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-img {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .work-list {
    display: flex;
    margin-top: -30px;
    margin-right: -30px;
  }
  .work-list__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-top: 30px;
    width: 370px;
    height: 294px;
  }
  .work-list__title-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }
  .work-list__title-wrap {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-bgc);
  }
}

.team-section {
  background: var(--team-selection-bgc);
}

@media screen and (max-width: 1199px) {
  .team-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  text-align: center;
}

.team__worker {
  background: var(--main-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1199px) {
  .team__worker:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__worker_info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.worker-specialty {
  margin-bottom: 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--prymari-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__worker {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__worker:nth-child(2n) {
    margin-left: 30px;
  }
  .team__worker:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__worker {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--focus-color);
  }
  .social-list__link:hover .social-list-icon,
  .social-list__link:focus .social-list-icon {
    fill: var(--main-bgc);
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--focus-color);
  fill: var(--focus-color);
}

.clients-list__icon1 {
  width: 44px;
  height: 49px;
}

.clients-list__icon2 {
  width: 40px;
  height: 52px;
}

.clients-list__icon3 {
  width: 41px;
  height: 42px;
}

.clients-list__icon4 {
  width: 80px;
  height: 42px;
}

.clients-list__icon5 {
  width: 59px;
  height: 47px;
}

.clients-list__icon6 {
  width: 88px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.footer {
  background: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200) {
  .footer .container {
    align-items: baseline;
  }
}

.footer .logo {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .footer .logo {
    justify-content: center;
  }
}

@media (max-width: 1199px) {
  .contact-list {
    text-align: center;
    margin-bottom: 60px;
  }
}

.contact-list__item .map {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-bgc);
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__link {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .invite {
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
  .invite__title {
    justify-content: center;
  }
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--main-bgc);
}

.soc-list__icon {
  width: 20px;
  height: 20px;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.invite-form-input {
  height: 50px;
  width: 100%;
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bgc);
  color: var(--main-bgc);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .invite-form-input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .invite-form-input {
    width: 358px;
  }
}

.invite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .logo {
    margin-left: 120px;
    justify-content: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-info {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    width: 232px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .invite {
    margin-right: 89px;
  }
}

@media screen and (min-width: 768px) {
  .invite-wrapper {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .invite-wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer-info {
    display: flex;
    align-items: baseline;
  }
  .contact-list__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--focus-color);
  }
  .invite {
    margin-left: 70px;
  }
  .soc-list__link {
    color: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .soc-list__link:hover, .soc-list__link:focus {
    background-color: var(--focus-color);
  }
  .follow {
    margin-left: auto;
  }
  .label-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .portf-list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portf-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__block {
  display: block;
}

.portfolio__block:hover .overlay,
.portfolio__block:focus .overlay {
  transform: translateY(0%);
}

.portfolio__block:hover, .portfolio__block:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.portfolio__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymari-text-color);
}

.portfolio__content {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__photo {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bgc);
}

@media screen and (max-width: 767px) {
  .portfolio__nav:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio__nav {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .portfolio__block {
    display: flex;
    flex-direction: column;
  }
  .portfolio__content {
    flex-grow: 1;
  }
}

@media (max-width: 1199px) {
  .portfolio_nav {
    margin-bottom: 30px;
  }
  .portfolio_nav:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .portfolio__nav {
    flex-basis: calc(100% / 3 - 30px);
  }
}
/*# sourceMappingURL=main.css.map */