.footer {
  background: var(--footer-bgc);

  padding-top: 60px;
  padding-bottom: 60px;

  .logo {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contact-list {
  text-align: center;
  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }

  &__item .map {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-bgc);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.invite {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  &__title {
    justify-content: center;
  }
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--main-bgc);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.invite-form-input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bgc);
  color: var(--main-bgc);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.invite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    .logo {
      margin-left: 120px;
      justify-content: left;
    }
  }

  @media screen and (max-width: 1199px) {
    .footer-info {
      display: flex;
      justify-content: space-between;
    }
  }

  .adress {
    width: 232px;
    margin-left: 76px;
  }

  .invite {
    @media screen and (max-width: 1199px) {
      margin-right: 89px;
    }
  }

  .invite-wrapper {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    & .container {
      display: flex;
    }
  }
  .footer-info {
    display: flex;
  }

  .contact-list {
    &__link {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--focus-color);
      }
    }
  }

  .invite {
    margin-left: 70px;
  }

  .soc-list {
    &__link {
      color: currentColor;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--focus-color);
      }
    }
  }

  .follow {
    margin-left: auto;
  }
}
// .footer {
//   background: var(--footer-bgc);
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .adres-container {
//   margin-right: 70px;
// }

// .adress {
//   margin-top: 20px;
//   width: 231px;
//   height: 81px;
// }

// .contact-list {
//   width: 231px;
//   height: 81px;

//   &__item .map {
//     font-family: var(--main-font);
//     font-weight: 400;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--main-bgc);
//   }
//   &__item:not(:last-child) {
//     margin-bottom: 9px;
//   }

//   &__link {
//     font-family: var(--main-font);
//     font-weight: 400;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: var(--focus-color);
//     }
//   }
// }

// .invite {
//   width: 206px;
// }

// .soc-list {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     background: rgba(255, 255, 255, 0.1);
//     fill: var(--main-bgc);

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       background-color: var(--focus-color);
//     }
//   }

//   &__icon {
//     width: 20px;
//     height: 20px;
//   }
// }

// .follow {
//   margin-left: auto;
// }

// .invite-form {
//   display: block;
// }

// .invite-form-input {
//   height: 50px;
//   width: 358px;
//   margin-right: 12px;
//   padding-left: 16px;
//   outline: none;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   background-color: var(--footer-bgc);
//   color: var(--main-bgc);

//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &::placeholder {
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &:focus {
//     border-color: var(--focus-color);
//   }
// }

// .label-wrapper {
//   position: relative;
// }
