.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--main-bgc);
  padding: 40px;
}
@media (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-close-icon {
  height: 11px;
  width: 11px;
  fill: var(--black-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
