body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--prymari-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.tex-dec {
  text-decoration: none;
}

.adress {
  font-style: normal;
}
